

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



@import url(http://fonts.googleapis.com/css?family=RobotoDraft:400,500,700,300);
@import url("//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css");
    body {
		font-weight:300;color:#404040;font-family: "RobotoDraft", Helvetica, Arial, sans-serif;letter-spacing:.1px;-webkit-font-smoothing:antialiased;
		text-rendering:optimizeLegibility;
	}


    
    .panel-default {
		font-family: 'robotodraft', sans-serif;
		
		
	}
	.panel-default > li {
		-webkit-transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
		transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26)
	}
	
	
	.panel-default > li > img {
		width: 100%;
	}
	.panel-default > li > .info {
		padding-top: 5px;
		text-align: center;
		background: #ffffff;
	}
	.panel-default > li > .info > .title {
		font-size: 17pt;
		font-weight: 700;
		margin: 0px;
	}
	.panel-default > li > .info > .desc {
		font-size: 13pt;
		font-weight: 300;
		margin: 0px;
	}
	.panel-default > li > .info > ul,
	.panel-default > li > .social > ul {
		display: table;
		list-style: none;
		margin: 10px 0px 0px;
		padding: 0px;
		width: 100%;
		text-align: center;
	}
	.panel-default > li > .social > ul {
		margin: 0px;
	}
	.panel-default > li > .info > ul > li,
	.panel-default > li > .social > ul > li {
		display: table-cell;
		cursor: pointer;
		color: rgb(30, 30, 30);
		font-size: 11pt;
		font-weight: 300;
        padding: 3px 0px;
	}
    .panel-default > li > .info > ul > li > a {
		display: block;
		width: 100%;
		color: rgb(30, 30, 30);
		text-decoration: none;
	} 
    .panel-default > li > .social > ul > li {    
        padding: 0px;
    }
    .panel-default > li > .social > ul > li > a {
        padding: 3px 0px;
	} 
	
	.panel-default > li > .social > ul > li:hover {
		color: rgb(30, 30, 30);
		background-color: rgb(200, 200, 200);
	}
	.facebook a,
	.twitter a,
	.google-plus a {
		display: block;
		width: 100%;
		color: rgb(75, 110, 168) !important;
	}
	.twitter a {
		color: rgb(79, 213, 248) !important;
	}
	.google-plus a {
		color: rgb(221, 75, 57) !important;
	}
	.facebook:hover a {
		color: rgb(255, 255, 255) !important;
		background-color: rgb(75, 110, 168) !important;
	}
	.twitter:hover a {
		color: rgb(255, 255, 255) !important;
		background-color: rgb(79, 213, 248) !important;
	}
	.google-plus:hover a {
		color: rgb(255, 255, 255) !important;
		background-color: rgb(221, 75, 57) !important;
	}

	@media (min-width: 768px) {
		.panel-default > li {
			position: relative;
			display: block;
			width: 100%;
			height: 100%;
			padding: 0px;
		}
		.panel-default > li > time,
		.panel-default > li > img  {
			display: inline-block;
		}
		.panel-default > li > time,
		.panel-default > li > img {
			width: 120px;
			float: left;
		}
		.panel-default > li > .info {
			background-color: rgb(255, 255, 255);
			overflow: hidden;
		}
		.panel-default > li > time,
		.panel-default > li > img {
			width: 120px;
			height: 120px;
			padding: 0px;
			margin: 0px;
		}
		.panel-default > li > .info {
			position: relative;
			height: 120px;
			text-align: left;
			padding-right: 40px;
		}	
		.panel-default > li > .info > .title, 
		.panel-default > li > .info > .desc {
			padding: 0px 10px;
		}
		.panel-default > li > .info > ul {
			position: absolute;
			left: 0px;
			bottom: 0px;
		}
		.panel-default > li > .social {
			position: absolute;
			top: 0px;
			right: 0px;
			display: block;
			width: 40px;
		}
        .panel-default > li > .social > ul {
            border-left: 1px solid rgb(230, 230, 230);
        }
		.panel-default > li > .social > ul > li {			
			display: block;
            padding: 0px;
		}
		.panel-default > li > .social > ul > li > a {
			display: block;
			width: 40px;
			padding: 10px 0px 9px;
		}
	}


 
