/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
#index-banner{
	background-color: #00BCD4;
  line-height: 1.5;
  -webkit-animation: rainbow 60s infinite;
          animation: rainbow 60s infinite;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
-webkit-transition: all 400ms ease;
transition: all 400ms ease}
footer,h2{
		background-color: #00BCD4;
-webkit-animation: rainbow 60s infinite;
          animation: rainbow 60s infinite;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
	-webkit-transition: all 400ms ease;
	transition: all 400ms ease
}

@-webkit-keyframes rainbow {
  0% {
    background: #E57373;
  }
	5%{
		background: #F06292; 
	}
	10% {
    background: #BA68C8;
  }
  15% {
    background: #9575CD;
  }
  20% {
    background: #7986CB;
  }
  25% {
    background: #64B5F6;
  }
  30% {
    background: #4FC3F7;
  }
  35% {
    background: #4DD0E1;
  }
  40% {
    background: #4DB6AC;
  }
  45% {
    background: #81C784;
  }
	50% {
    background: #AED581;
  }
  55% {
    background: #DCE775;
  }
  60% {
    background: #FFF176;
  }
65% {
    background: #FFD54F;
  }
  70% {
    background: #FFB74D;
  }
  75% {
    background: #FF8A65;
  }
  80% {
    background: #A1887F;
  }
	85% {
    background: #E0E0E0;
  }
 90% {
    background: #FF8A80;
  }
  95% {
    background: #FF80AB;
  }
	100{
		background: #EA80FC;
	}
}
@keyframes rainbow {
  0% {
    background: #E57373;
  }
	5%{
		background: #F06292; 
	}
	10% {
    background: #BA68C8;
  }
  15% {
    background: #9575CD;
  }
  20% {
    background: #7986CB;
  }
  25% {
    background: #64B5F6;
  }
  30% {
    background: #4FC3F7;
  }
  35% {
    background: #4DD0E1;
  }
  40% {
    background: #4DB6AC;
  }
  45% {
    background: #81C784;
  }
	50% {
    background: #AED581;
  }
  55% {
    background: #DCE775;
  }
  60% {
    background: #FFF176;
  }
65% {
    background: #FFD54F;
  }
  70% {
    background: #FFB74D;
  }
  75% {
    background: #FF8A65;
  }
  80% {
    background: #A1887F;
  }
	85% {
    background: #E0E0E0;
  }
 90% {
    background: #FF8A80;
  }
  95% {
    background: #FF80AB;
  }
	100{
		background: #EA80FC;
	}
}



/*discount % animation*/
ul.contextMenu{
  list-style:none; 
  margin:0;padding:0;
  font: 300 15px 'Roboto', sans-serif;
  position: absolute;
  color: #333;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.2);
}

ul.contextMenu *{
    -webkit-transition:color .4s, background .4s;
    transition:color .4s, background .4s;
}

ul.contextMenu li{
  min-width:150px;
  overflow: hidden;
  white-space: nowrap;
  padding: 12px 15px;
  background-color: #fff;
  border-bottom:1px solid #ecf0f1;
}

ul.contextMenu li a{
  color:#333;
  text-decoration:none;
}

ul.contextMenu li:hover{
  background-color: #ecf0f1;
}

ul.contextMenu li:first-child{
  border-radius: 5px 5px 0 0;
}

ul.contextMenu li:last-child{
  background:#ecf0f1;
  border-bottom:0;
  border-radius: 0 0 5px 5px
}

ul.contextMenu li:last-child a{width:26%;}
ul.contextMenu li:last-child:hover a{color:#2c3e50}
ul.contextMenu li:last-child:hover a:hover{color:#2980b9}
